.sideContainer {
    width: 64px;
    height: 950px;
    padding: 10px; /* Adjust padding as needed */
    display: flex;
    border-right: 1px solid #E1E1E8;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .upperLogos,
  .lowerLogos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    width: 100%;
    padding: 5px; /* Adjust padding as needed */
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  
  .logo img {
    width: 100%; /* Ensures the logo fills its container */
  }
  