.dashboardContainer {
    display: flex;
    height: 100vh;
}

.content {
    flex: 1;
    overflow: hidden;
}

.navBar {
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.left{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.leftSideItems,
.rightSideItems {
    display: flex;
    align-items: center;
    gap: 8px;
}

.publishButton {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.publishButton:hover {
    background-color: #0056b3;
}

.mainContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 1728px; /* Fixed width */
    height: 606px; /* Hug height */
    top: 166px;
    left: 88px;
    position: absolute; /* Position as specified */
}

.searchRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tableWrapper {
    overflow: auto;
    max-height: calc(100vh - 280px); 
}

.dashboardTable {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.dashboardTable th,
.dashboardTable td {
    border: 1px solid #ccc;
    padding: 8px;
}

.dashboardTable th {
    background-color: #f2f2f2;
}

.tdtitle{
    display: flex;
    justify-content: space-evenly;
}
.status-draft {
    color: #D97706;
    background-color: #FFFBEB;
}

.status-published {
    color: #059669;
    background-color: 
    #EFF6FF;
}

.status-scheduled {
    color: #2563EB;
    background-color: #ECFDF5;
}
